/*
*		mainStyle.css
*		Ultima modificacion: 2013-05-01
*/

/*
*	Definición de nuevos tipos de letra
*/
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTS55F.ttf");
}

body{
    background-color: #FBFBEF; 
    font-family: "PT Sans";
	
}

h1{
	font-size: 23px;
}
h2{
	font-size: 18px;
}
p{
	font-size: 12px;
}

.clickable{
	cursor: pointer;
}

/* Elementos del header */

#header{
    margin: 30px;
    height: 50px;
    border-radius: 10px;
	min-width: 560px;
}
#leftHeader{
    margin-top: 10px;
    float: left;
}
#rightHeader{
    float: right;
}
.img-header{
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.img-header-nc{
    height: 30px;
    margin-left: 20px;
}

.img-banner{
    height: 50px;
}
.text-header{
    height: 35px;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}

/* Contenido */

#mainDiv{
    background-color: #FBFBEF;
    width: 1000px;    
    display: block;
    height: 500px;
	overflow: auto;
}
nav{   
    float: left;
    width: 170px;
    margin-top: 15px;
    margin-right: 15px;
    height: 400px;
}
#all-content{
    float: right;    
    width: 800px;
    margin-left: 15px;
    margin-top: 15px;
    height: 400px;
	overflow: auto;
}
.img-icon{
	float:left;
	height:25px;
	width:25px;
	margin-left: 5px;
    margin-top: 5px;
}
.button{
    border-color: Gray;
    border-width: 1px;
    border-style: solid;
	border-radius:10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
	text-align: center;

}
.selected-button{
    border-color: Gray;
    border-width: 1px;
    border-style: solid;
	border-radius:10px;
    margin: 10px;
    padding: 10px; 
    cursor: pointer;
	text-align: center;
}
.form-button,input[type="submit"]{
    width: auto;
    border-color: Gray;
    border-width: 1px;
    border-style: solid;
    color: White;
    margin: 10px;
    padding: 10px; 
    cursor: pointer;
    display: inline-block;
}
footer{
    display: block;
    text-align: center;
    color: Gray;
    width: 100%;  
}
.option{
    display: inline;   
    margin: 3px;
}
.box{
    display: block;
    padding-top: 10px;
}

input[type="text"],input[type="password"],select{
    padding: 5px;
    margin: 5px;   
}
.button:hover{
    background-color: #DBC3FD; 
    cursor: pointer;
}

table
{
	display: block;
}

tbody
{
	display: block;
}

#table-content{
	margin-left: 10px;
    margin-top: 30px;  
    margin-bottom: 30px;
	
}	

.tr-header{
	padding: 3px;
	background-color:#FBFBEF;
	border-color: Gray;
    border-width: 1px;
    border-style: solid;
}
.tr-cont{
	padding: 3px;
	background-color:#FBFBEF;
}
.opc{
	padding: 3px;
}
.evento{
	height: 20px;
	display:inline-block;
	cursor:pointer;
}
td{
	height: 30px;
	width:auto;
	padding: 3px;
}

/*Subnivel en el menú*/
ul.sub-level {
    display: none;  
}
.button:hover .sub-level {

    display: block;
}

.selected-button:hover .sub-level {

    display: block;
}

.sub-level li
{
    opacity:0.5;
    background-color: #83FAB1;
    border-radius:5px;
    margin-bottom: 10px
}

/*
*	Barra de búsqueda
*/

.img-buscar{
	height: 20px;
	display:inline-block;
	cursor:pointer
}

.searchBar{
	width: 100px;
}

/*
*		Estilo de las notificaciones
*/

#msgInbox{
	display: none;
	position:absolute;
	left: 0px;
	top:  0px;
	background-image: url(../img/background.png);
	height: 200px;
	width: 400px;
}
#details{
	display: none;
	position:absolute;
	left: 0px;
	top:  0px;
	height: 200px;
	width: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

#inbox{
	position: absolute;
	left: 400px;
	width: 620px;
	height: 500px;
	top: 80px;
	border: 1px solid black;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
}

.detalleCC{
	display: none;
	position: fixed;
	left: 400px;
	width: 600px;
	height: 500px;
	top: 80px;
	border: 1px solid black;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
}

#sendMessage{
	display: none;
	position:absolute;
	left: 0px;
	top:  0px;
	height: 200px;
	width: 400px;
	
}

.close{
	position: fixed;
	left: 950px;
    top: 85px;  
	width: 20px;
	cursor: pointer;
}

/* Tabla para los formularios */

.form-table{
	padding-left: 30px;
}