.titulo{
	font-size:20pt; 
	font-weight:bold;
}
.texto{
	font-size:13pt; 
	font-weight:bold;
}
.texto1{
	font-size:8pt; 
	}
/*Este es el mismo para todas*/

/*header de la pagina*/
/*#header
{
    background-color:#81BEF7; /* Cambiar al color respectivo
    
}*/
#ENTRADA{
	font-size:40pt; 
	color:#115075;
	font-weight:bold;
	overflow:auto;
	margin-left: 15px;
    margin-top: 100px;
}
#tablaCliente{
	margin-left: -9px;
}
#tablaVenta{
	margin-top:5px;
	margin-left: 90px;
	
}
#table-content{
    color: white; 
	
}	
.click{
	cursor: pointer;
	color: #092B9D;
}

#Paginacion{
	margin-top:-10px;
	font-size:9pt; 
	color: #117DE1;
	font-weight:bold;
}
.tr-headerv{
	padding: 3px;
	background-color:#117DE1;
	border-color: Gray;
    border-width: 1px;
    border-style: solid;
}
.tr-contv{
	padding: 3px;
	background-color:#0BB9EE;
}
/*REPORTES/ */
#aceptar{ 
	position:absolute;  
	margin-left:300px;
    margin-top:20px;}
#cancel{ 
	position:absolute;  
	margin-left:400px;
    margin-top:20px;}
.ta{
	
	height: 90px; 
	width: 150px; 
	border-style:none;
	font-family: Arial; 
	font-size: 13px;
	resize:none;
	/*margin-top: 10px;*/
}


