.titulo{
	font-family: Trebuchet MS;
	font-size:20pt; 
	color: white;
	font-weight:bold;
}
.texto{
	font-family: Trebuchet MS;
	font-size:13pt; 
	color: white;
	font-weight:bold;
}
.texto1{
	font-family: Trebuchet MS;
	font-size:8pt; 
	color: white;
}
/*Este es el mismo para todas*/

/*header de la pagina*/
#header
{
    background-color:#81BEF7; /* Cambiar al color respectivo*/
    
}


#tablaCliente{
	margin-top:-30px;
	margin-left: 110px;
	
}
#tablaVenta{
	margin-top:-30px;
	margin-left: 110px;
}


#table-content{
    color: white; 
	
}	

.click{
	cursor: pointer;
	color: #092B9D;
}

#Paginacion{
	
	margin-left:250px;
	font-family: Trebuchet MS;
	font-size:9pt; 
	color: #117DE1;
	font-weight:bold;
	
}

.tr-headerv{
	padding: 3px;
	background-color:#117DE1;
	border-color: Gray;
    border-width: 1px;
    border-style: solid;
}
.tr-contv{
	padding: 3px;
	background-color:#81BEF7;
}
.form-button,input[type="submit"],input[type="button"]{
	background-color:#117DE1;;
}
.button{
	color: white;
}
input[type="button"]{
    width: auto;
    border-color: Gray;
    border-width: 1px;
    border-style: solid;
    color: White;
    margin: 10px;
    padding: 10px; 
    cursor: pointer;
    display: inline-block;
}



