.tb{
	height: 10px; 
	width: 135px; 
	/*-webkit-border-radius:10px;*/
}
.ta{
	
	height: 90px; 
	width: 145px; 
	/*-webkit-border-radius:10px;*/	
	border-style:none;
	font-family: Arial; 
	font-size: 13px;
	resize:none;
	margin-left: 5px;
}
.divform{
	margin-top: 10px;
    font-family: Trebuchet MS;
	font-size:13pt; 
	color: white;
	font-weight:bold;
    border-radius:10px;
}

#drfc{
	margin-top: 20px;
}
#RFC{
	margin-top: 20px;
}
#GV{
	filter: alpha(opacity=60);
	-moz-opacity: .60;
	opacity: 0.6;
	position:absolute; 
	height: 30px; 
	width: 200px; 
	margin-left: 0px;
    margin-top: 100px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    background-color:#81BEF7;
    border-radius:10px;
}

#GC{
	
	position:absolute; 
	height: 30px; 
	width: 200px; 
	margin-left: 0px;
    margin-top: 170px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    background-color:#81BEF7;
    border-radius:10px;
}
#rep{
	filter: alpha(opacity=60);
	-moz-opacity: .60;
	opacity: 0.6;
	position:absolute; 
	height: 30px; 
	width: 200px; 
	margin-left: 0px;
    margin-top: 240px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    background-color:#81BEF7;
    border-radius:10px;
}
#MV{
	
	position:absolute; 
	margin-left: 0px;
    margin-top: 10px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    border-radius:10px;
}
#Formulario{
	background-color: #81BEF7;   
    width: 450px;
    height: 425px;
    overflow: auto;
    margin: 0px auto;
}
#botones{
	position:absolute;  
	margin-left: 150px;
    margin-top: 20px;
}
#acept{ 
	filter: alpha(opacity=60);
	-moz-opacity: .60;
	opacity: 0.6;
	position:absolute; 
	height: 25px; 
	width: 100px; 
    background-color:#117DE1;
    margin-left:100px;
    margin-top:30px;
    }
#cancel{ 
	filter: alpha(opacity=60);
	-moz-opacity: .60;
	opacity: 0.6;
	position:absolute; 
	height: 25px; 
	width: 100px; 
    background-color:#117DE1;
    margin-left:250px;
    margin-top:30px;
    }
#cab{
	margin-top:10px;
}
#GV:hover,#rep:hover,#AV:hover,#acept:hover,#cancel:hover{
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
	cursor: pointer;
}

