.tb{
	height: 10px; 
	width: 135px; 
}
.ta{
	
	height: 90px; 
	width: 135px; 
	border-style:none;
	font-family: Arial; 
	font-size: 13px;
	/*margin-top: 10px;*/
}
.divform{
	margin-top: 10px;
    font-family: Trebuchet MS;
	font-size:13pt; 
	color: white;
	font-weight:bold;
}

#dvrfc{
	margin-top: 20px;
}
#GV{
	
    background-color:#81BEF7;
}

#GC{
	
	
    background-color:#117DE1;
}
#rep{
	
	
    background-color:#81BEF7;
}

#Formulario{
	background-color: #81BEF7;   
    width: 450px;
    height: 400px;
    overflow: auto;
    margin: 0px auto;
    margin-top:-20px;
}

#acept{ 
	  
    margin-left:30px;
    margin-top:5px;
    }
#cancel{  
    margin-left:40px;
    margin-top:5px;
    }
#cab{
	margin-top:10px;
}
#mainDiv{
	margin-left:107px;
	}


