#content1
{
    background-color: #81BEF7; /* CC color */
     position:absolute;    
    width: 600px;
    margin-left: 400px;
    margin-top: 0px;
    height: 450px;
    overflow: auto;
    
}
table{
	margin-left:80px;
	margin-top:60px;
	
}
.divform{
	margin-top: 10px;
    font-family: Trebuchet MS;
	font-size:13pt; 
	color: white;
	font-weight:bold;
    border-radius:10px;
}
#tir{
	margin-left: 180px;
    margin-top: 10px;
}


/*Botones*/
#GV{
	
    background-color:#81BEF7;
}

#GC{
	
	
    background-color:#81BEF7;
}
#rep{
	
	
    background-color:#117DE1;
}

#tip{ 
	position:absolute;  
	margin-left:230px;
    margin-top:20px}

#cliente{ 
	position:absolute;  
	margin-left:30px;
    margin-top:50px}
#cliente1{ 
	position:absolute;  
	margin-left:120px;
    margin-top:30px}
#producto{ 
	position:absolute;  
	margin-left:30px;
    margin-top:120px}
#producto1{ 
	position:absolute;  
	margin-left:120px;
    margin-top:100px}

#edo{ 
	position:absolute;  
	margin-left:270px;
    margin-top:100px}
#edo1{ 
	position:absolute;  
	margin-left:350px;
    margin-top:100px}
#edo2{ 
	position:absolute;  
	margin-left:550px;
    margin-top:150px}


#aceptar{ 
	position:absolute;  
	margin-left:220px;
    margin-top:200px}
#cancel{ 
	position:absolute;  
	margin-left:370px;
    margin-top:200px}
#mainDiv{
	margin-left:107px;
	}
	
					
