/*Fuente de la pagina*/
/*@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTS55F.ttf");
}
/*Estilos para el texto*/


/*Contendor principal*/
#content1
{
    background-color: #81BEF7; /* CC color */
     position:absolute;    
    width: 600px;
    margin-left: 400px;
    margin-top: 30px;
    height: 400px;
    overflow: auto;
    
}
table{
	margin-left:80px;
	margin-top:60px;
	
}
.divform{
	margin-top: 10px;
    font-family: Trebuchet MS;
	font-size:13pt; 
	color: white;
	font-weight:bold;
    border-radius:10px;
}
#tir{
	margin-left: 180px;
    margin-top: 10px;
}

#MV{
	
	position:absolute; 
	margin-left: 0px;
    margin-top: 10px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    border-radius:10px;
}
/*Botones*/
#GV{
	filter: alpha(opacity=60);
	-moz-opacity: .60;
	opacity: 0.6;
	position:absolute; 
	height: 30px; 
	width: 200px; 
	margin-left: 0px;
    margin-top: 100px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    background-color:#81BEF7;
    border-radius:10px;
}

#GC{
	filter: alpha(opacity=60);
	-moz-opacity: .60;
	opacity: 0.6;
	position:absolute; 
	height: 30px; 
	width: 200px; 
	margin-left: 0px;
    margin-top: 170px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    background-color:#81BEF7;
    border-radius:10px;
}
#rep{
	
	position:absolute; 
	height: 30px; 
	width: 200px; 
	margin-left: 0px;
    margin-top: 240px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    background-color:#81BEF7;
    border-radius:10px;
}


#tip{ 
	position:absolute;  
	margin-left:230px;
    margin-top:20px}

#cliente{ 
	position:absolute;  
	margin-left:30px;
    margin-top:50px}
#cliente1{ 
	position:absolute;  
	margin-left:120px;
    margin-top:30px}
#producto{ 
	position:absolute;  
	margin-left:30px;
    margin-top:120px}
#producto1{ 
	position:absolute;  
	margin-left:120px;
    margin-top:100px}
/*Radio botones*/
#pedi{ 
	position:absolute;  
	margin-left:380px;
    margin-top:150px}
#r1{ 
	position:absolute;  
	margin-left:460px;
    margin-top:150px}
#vent{ 
	position:absolute;  
	margin-left:580px;
    margin-top:150px}
#r2{ 
	position:absolute;  
	margin-left:650px;
    margin-top:150px}
#edo{ 
	position:absolute;  
	margin-left:270px;
    margin-top:100px}
#edo1{ 
	position:absolute;  
	margin-left:350px;
    margin-top:100px}
#edo2{ 
	position:absolute;  
	margin-left:550px;
    margin-top:150px}


#boton{ 
	position:absolute;  
	margin-left:220px;
    margin-top:180px}
#boton2{ 
	position:absolute;  
	margin-left:370px;
    margin-top:180px}
#GC:hover,#GV:hover,.img-header:hover{
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
	cursor: pointer;
}
	
					
