#content
{
    /*background-color: #81BEF7; CC color */
    position:absolute;    
    width: 850px;
    margin-left: 270px;
    margin-top: -10px;
    height: 530px;
    overflow: auto;
   
    
}


#MV{
	
	position:absolute; 
	margin-left: 0px;
    margin-top: 10px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    border-radius:10px;
}
/*Botones*/
#GV{
	
    background-color:#81BEF7;
}

#GC{
	
	
    background-color:#81BEF7;
}
#rep{
	
	
    background-color:#117DE1;
}

#VR{
	border-style:solid; 
	border-color:#81BEF7;
	height:450px; 
	width:800px; 
	position:absolute; 
	margin-left: 10px;
    margin-top: 10px;  
}


#aceptar{ 
	position:absolute;  
	margin-left:490px;
    margin-top:460px;
    background-color:#117DE1;
    }
#mainDiv{
	margin-left:107px;
	}
	


					
