/*Fuente de la pagina*/
/*@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTS55F.ttf");
}
/*Estilos para el texto*/

/*Contendor principal*/
#mainDiv
{
    background-color: #DCE4E9; /* Main background color */
    
}


/*Botones*/
#GV{
	
    background-color:#81BEF7;
}

#GC{
	
	
    background-color:#81BEF7;
}
#rep{
	
	
    background-color:#81BEF7;
}

/*Espacio para el contenido de la página*/


#ENTRADA{
	font-family: Trebuchet MS;
	font-size:40pt; 
	color:#115075;
	font-weight:bold;
	overflow:auto;
	margin-left: 15px;
    margin-top: 100px;
}




					
