#GV{
	
    background-color:#81BEF7;
}

#GC{
	
	
    background-color:#117DE1;
}
#rep{
	
	
    background-color:#81BEF7;
}

#AC{ 
	margin-left:200px;
}
#buscar{
	height: 10px; 
	width: 200px; 
	margin-left: 500px;
	margin-top:-40px;
}
#mainDiv{
	margin-left:107px;
	}


					
