/*Fuente de la pagina*/
/*@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTS55F.ttf");
}
/*Estilos para el texto*/

/*Contendor principal*/
#ti{
	margin-left: 300px;
    margin-top: 10px;
}
#all-content
{
    background-color: #81BEF7; /* CC color */
   
}

#MV{
	
	position:absolute; 
	margin-left: 0px;
    margin-top: 10px; 
    padding-left: 10px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px;  
    border-radius:10px;
}
/*Botones*/
#GV{
	
    background-color:#117DE1;
}

#GC{
	
	
    background-color:#81BEF7;
}
#rep{
	
	
    background-color:#81BEF7;
}

/*Espacio para el contenido de la página*/
#all-content
{
    height: 520px;
    overflow: auto;
}
#foli{ 
	position:absolute;  
	margin-left:30px;
    margin-top:30px}
#fol{ 
	position:absolute;  
	margin-left:80px;
    margin-top:20px}
#periodo{ 
	position:absolute;  
	margin-left:530px;
    margin-top:30px}
#fech{ 
	position:absolute;  
	margin-left:590px;
    margin-top:10px}
#cliente{ 
	position:absolute;  
	margin-left:30px;
    margin-top:80px}
#cliente1{ 
	position:absolute;  
	margin-left:120px;
    margin-top:60px}
/*Seccion de articulos de venta */
#articulos{ 
	position:absolute;  
	margin-left:30px;
    margin-top:130px}
#linea{ 
	position:absolute; 
	background-color: #55899D;
	height: 5px;
	width: 650px;
    border-radius:5px;
	margin-left:130px;
    margin-top:140px}
#tip{ 
	position:absolute;  
	margin-left:30px;
    margin-top:160px}
#producto{ 
	position:absolute;  
	margin-left:30px;
    margin-top:250px}
#producto1{ 
	position:absolute;  
	margin-left:120px;
    margin-top:230px}
#canti{ 
	position:absolute;  
	margin-left:290px;
    margin-top:250px}
#cant{ 
	position:absolute;  
	margin-left:370px;
    margin-top:240px}
#ex{ 
	position:absolute;  
	margin-left:530px;
    margin-top:250px}
#exi{ 
	position:absolute;  
	margin-left:630px;
    margin-top:240px}
#entrega{ 
	position:absolute;  
	margin-left:30px;
    margin-top:320px}
#fechent{ 
	position:absolute;  
	margin-left:190px;
    margin-top:300px}
#agregar{ 
	position:absolute;  
	margin-left:30px;
    margin-top:360px}
#edo{ 
	position:absolute;  
	margin-left:480px;
    margin-top:320px}
#edo1{ 
	position:absolute;  
	margin-left:550px;
    margin-top:300px}




#boton{ 
	position:absolute;  
	margin-left:300px;
    margin-top:400px}
#boton2{ 
	position:absolute;  
	margin-left:450px;
    margin-top:400px}
#mainDiv{
	margin-left:107px;
	}
					
